{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Add a new country' | trans %}
{% if country.id %}{% set pagetitle = 'Update the country' | trans %}{% endif %}
{% block title pagetitle %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                {% set breadcrumb = [{ "dashboard_main": ('Dashboard'|trans), "dashboard_admin_country_index": 'Manage countrys'|trans, "current":(pagetitle) }] %}
                {% include "global/dashboard-breadcrumb.html.twig" with breadcrumb %}
                <div>
                    {% if is_granted('ROLE_VERIFIED') %}
                        <a href="{{ path('dashboard_admin_country_index') }}" class="btn btn-outline-secondary me-2">
                            {{ 'Return to list'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-12 col-12">
            {{ include('dashboard/admin/country/_form.html.twig') }}
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 col-12"></div>
    </div>
{% endblock %}
