{% extends 'help.html.twig' %}

{% set bodyClass = 'bg-white' %}
{% set pagetitle = 'Help Center Article'|trans ~ " " ~ article.title %}
{% block title pagetitle %}

{% block pageheader %}
	<div class="py-8 bg-light">
		<div class="container">
			<div class="row">
				<div class="offset-md-2 col-md-8 col-12">
					<h1 class="fw-bold mb-1 display-4">{{ pagetitle }}</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "help_center": ('Help center'|trans), (path("help_center_category", { slug: article.category.slug })): article.category.name | raw | striptags | slice(0, 10) | raw, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
	<section class="py-8">
		<div class="container">
			<div class="row">
				<div class="offset-md-2 col-md-8 col-12">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="card border mb-4">
								<div class="card-body p-5">
									<div class="mb-5">
										<h2 class="fw-semibold">Getting Started</h2>
										<p>Get your Help Geeks account set up in just 6 simple steps.</p>
									</div>
									<ul class="list-unstyled">
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>What is this geeks app?</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Start using the geeks app?</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Signing in to the dashboard</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Navigating within the Geeks app</span>
											</a>
										</li>
										<li>
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Affiliate with geeks app</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="card-footer">
									<a href="#" class="link-primary">
										31 articles
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div
							class="col-lg-6 col-12">
							<!-- card  -->
							<div
								class="card border mb-4">
								<!-- card body  -->
								<div class="card-body p-5">
									<div class="mb-5">
										<h2 class="fw-semibold">Account Management</h2>
										<p>Managing your account, creating new Users, pricing details, exporting data</p>
									</div>
									<!-- list  -->
									<ul class="list-unstyled">
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Billing and Plans Guide</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Manage Your User Profile</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Signing in to the dashboard</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>What's New With Annual Payments</span>
											</a>
										</li>
										<li>
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>User Roles and Permissions</span>
											</a>
										</li>
									</ul>
								</div>
								<!-- card footer  -->
								<div class="card-footer">
									<a href="#" class="link-primary">
										12 articles
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div
							class="col-lg-6 col-12">
							<!-- card  -->
							<div
								class="card border mb-4">
								<!-- card body  -->
								<div class="card-body p-5">
									<div class="mb-5">
										<h2 class="fw-semibold">Your Account</h2>
										<p>Managing your account, creating new Users, pricing details, exporting data</p>
									</div>
									<!-- list  -->
									<ul class="list-unstyled">
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Changing your username</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Changing your email</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Changing your password</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Account limits</span>
											</a>
										</li>
										<li>
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Two factor authentication</span>
											</a>
										</li>
									</ul>
								</div>
								<!-- card footer  -->
								<div class="card-footer">
									<a href="#" class="link-primary">
										8 articles
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div
							class="col-lg-6 col-12">
							<!-- card  -->
							<div class="card border mb-4">
								<div class="card-body p-5">
									<div class="mb-5">
										<h2 class="fw-semibold">General Settings</h2>
										<p>Get your Help Geeks account set up in just 6 simple steps.</p>
									</div>
									<!-- list  -->
									<ul class="list-unstyled">
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>General settings</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>API settings</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Site settings</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>SMTP settings</span>
											</a>
										</li>
										<li>
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Analytics settings</span>
											</a>
										</li>
									</ul>
								</div>
								<!-- card footer  -->
								<div class="card-footer">
									<a href="#" class="link-primary">
										6 articles
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div
							class="col-lg-6 col-12">
							<!-- card  -->
							<div
								class="card border mb-4">
								<!-- card body  -->
								<div class="card-body p-5">
									<div class="mb-5">
										<h2 class="fw-semibold">Payments</h2>
										<p>Get your Help Geeks account set up in just 6 simple steps.</p>
									</div>
									<!-- list  -->
									<ul class="list-unstyled">
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Subscriptions</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Payment methods</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Cancel payments</span>
											</a>
										</li>
									</ul>
								</div>
								<!-- card footer  -->
								<div class="card-footer">
									<a href="#" class="link-primary">
										5 articles
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div
							class="col-lg-6 col-12">
							<!-- card  -->
							<div
								class="card border mb-4">
								<!-- card body  -->
								<div class="card-body p-5">
									<div class="mb-5">
										<h2 class="fw-semibold">Working with Docs</h2>
										<p>Setting up collections and categories, creating new articles, and using Docs search</p>
									</div>
									<!-- list  -->
									<ul class="list-unstyled">
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Learn about Geeks Docs</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Manage collections and categories</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Homepage layout options</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Docs Style Guide</span>
											</a>
										</li>
										<li class="mb-2">
											<a href="help-center-guide-single.html" class="text-body">
												<span class="me-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
													</svg>
												</span>
												<span>Two factor authentication</span>
											</a>
										</li>
									</ul>
								</div>
								<!-- card footer  -->
								<div class="card-footer">
									<a href="#" class="link-primary">
										8 articles
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
