{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    <section class="py-8 bg-white">
        <div class="container my-lg-4">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 col-md-12 col-12 mb-8">
                    <h1 class="display-2 fw-bold mb-3">
                        Hi there, we’re
                        <span class="text-primary">{{ website_name }}</span>
                    </h1>
                    <p class="h2 mb-3">
                        We’re building the best next-generation interactive bootstrap based UI Kit design tool for developers, engineers, Full-Stack developer, and digital agency.
                    </p>
                    <p class="mb-0 h4 text-body lh-lg">
                        {{ website_name }} provide clean and consistent page designs to help you to create beautiful looking contents. Geek is feature-rich components and beautifully designed pages that
                        help you create the best possible website and web application projects.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
