
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
!/drivers
!/drivers/*
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Liés à l'IDE
.idea/
.code/

# Images
public/images/*
!public/images/.gitignore
!/var/images

# Images Recipe
public/images/recipe/*
!public/images/recipe/.gitignore
!/var/images/recipes

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
