{# {% set runtimeConfig = {"thumbnail": {"size": thumbnailsize } } %} #}
{% set link = path('recipes', { category : category.slug }) %}
<a href="{{ link }}" class="card mb-4 mb-xl-0 card-hover border">
	<img src="{{ category.imageName ? asset(category.getImagePath) : category.getImagePlaceholder }}" alt="{{ category.name }}" class="img-fluid w-100 rounded-top-3">
	<div class="d-flex align-items-center mb-3">
		<h3 class="ms-6 mb-3 mb-lg-0 text-truncate">
			{{ category.name }}
		</h3>
	</div>
</a>
