{% if app.request.hasPreviousSession %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="container align-items-center justify-content-center p-4">
                <div class="d-flex alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {{ message |raw | trans }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'Close'|trans }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
