<a {% for attr, value  in options %} {{ attr }}="{{ value }}" {% endfor %}>
	{{ title }}
	{% if sorted %}
		{% if direction == 'desc' %}
			<i class="bi bi-caret-down"></i>
		{% else %}
			<i class="bi bi-caret-up"></i>
		{% endif %}
	{% endif %}
</a>
