<div class="py-lg-8 py-6">
	<div class="text-center mb-6">
		<h2 class="display-4 fw-bold">{{ 'Sign up for our Newsletter'|trans }}</h2>
		<p class="mb-0 lead">{{ 'Join our newsletter and get resources, curated content, and design inspiration delivered straight to your inbox.'|trans }}</p>
	</div>
	<form class="row px-md-8 mx-md-8 gx-2 needs-validation" novalidate="">
		<div class="col">
			<input type="email" class="form-control" placeholder="{{ 'Email Address'|trans }}" required="">
		</div>
		<div class="col-auto">
			<button class="btn btn-primary" type="submit">{{ 'Submit'|trans }}</button>
		</div>
	</form>
</div>
