<section class="py-4 py-lg-6 bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-12">
				<div>
					<h1 class="text-white mb-1 display-4">{{ pagetitle }}</h1>
					<p class="mb-0 text-white lead"></p>
				</div>
			</div>
		</div>
	</div>
</section>
