{% if postcategories %}
	{% for category in postcategories %}
		<a 
			class="fs-5 fw-semibold d-block mb-3"
			{% if category.color != '#5dade2' %}
				style="color: {{ category.color }}"
			{% endif %}
			href="{{ path('blog_category', {slug: category.slug}) }}"
		>
			{{ category.name }}
		</a>
	{% endfor %}
{% endif %}
