<span class="{% if class is defined %}{{ class }}{% endif %}">
    {% for i in 1..5 %}
        {% if i <= rating %}
            <i class="bi bi-star-fill text-secondary"></i>
        {% else %}
            <i class="bi bi-star text-secondary"></i>
        {% endif %}
    {% endfor %}
</span>
