{% for role in user.roles %}
    {% if role == "ROLE_ADMIN_APPLICATION" %}
        {% set name = "Application"|trans %}
        {% set color = "danger" %}
    {% elseif role == "ROLE_ADMIN" %}
        {% set name = "Admin"|trans %}
        {% set color = "dark" %}
    {% elseif role == "ROLE_MODERATOR" %}
        {% set name = "Moderator"|trans %}
        {% set color = "secondary" %}
    {% elseif role == "ROLE_TEAM" %}
        {% set name = "Team"|trans %}
        {% set color = "primary" %}
    {% else %}
        {% set name = "User"|trans %}
        {% set color = "success" %}
    {% endif %}
    <span class="badge me-2 bg-{{ color }}">{{ name }}</span>
{% endfor %}
