{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Your payment could not be processed at this time'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
	<div class="card mb-4">
		<div class="d-lg-flex justify-content-between align-items-center card-header border-bottom-0">
			<div class="mb-3 mb-lg-0">
				<h3 class="mb-0">{{ pagetitle }}</h3>
				<span></span>
			</div>
			<div>
				<a href="#" class="btn btn-outline-primary btn-sm">
                    {{ 'Create'|trans }}
                </a>
			</div>
		</div>
		<div class="card-body">
			<h2 class="fw-bold mb-0"></h2>
			<p class="mb-0">
                {% if paymentdetails.L_SHORTMESSAGE0 is defined and paymentdetails.L_LONGMESSAGE0 is defined %}
                    {% include 'global/message.html.twig' with { type: 'danger',icon: 'bi bi-exclamation-circle', class: "my-2", message: "<b>" ~ paymentdetails.L_SHORTMESSAGE0 ~ "</b><br>" ~ paymentdetails.L_LONGMESSAGE0 } %}
                {% else %}
                    {% include 'global/message.html.twig' with { type: 'danger',icon: 'bi bi-exclamation-circle', class: "my-2", message: pagetitle } %}
                {% endif %}
			</p>
		</div>
	</div>
{% endblock %}
