{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'My revises'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="card mb-4">
        {% if rows is empty %}
            <div class="card-header">
                {% include "global/message.html.twig" with { type: "dark", message: ("You haven't proposed any changes ye"|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
            </div>
        {% else %}
            <div class="card-header">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span></span>
            </div>
            {% include "dashboard/shared/content/manage-revises-table.html.twig" with {rows: rows} %}
            <div class="card-footer">
                {{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
