<a href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?') && document.getElementById('js-category-delete-form').submit();" class="dropdown-item">
    <i class="bi bi-trash dropdown-item-icon"></i>
    Supprimer
</a>

<form id="js-category-delete-form" action="{{ path('dashboard_admin_category_delete', {id: category.id}) }}" method="post" class="">
    <input type="hidden" name="_token" value="{{ csrf_token('category_deletion_' ~ category.id) }}">
    <input type="hidden" name="_method" value="DELETE">
</form> 
