{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'My applications'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="card mb-4">
        <div class="d-lg-flex justify-content-between align-items-center card-header border-bottom-0">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span>{{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}</span>
            </div>
            {% if is_granted('ROLE_VERIFIED') %}
                <div>
                    <a href="{{ path('dashboard_application_new') }}" class="btn btn-outline-primary btn-sm">
                        {{ 'Create'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
        {% if rows.getTotalItemCount > 0 %}
            {% include "dashboard/shared/application/manage-applications-table.html.twig" with {rows: rows} %}
        {% else %}
            <div class="card-footer">
                {% include "global/message.html.twig" with { type: "dark", message: ('No application found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
            </div>
        {% endif %}
    </div>
{% endblock %}
