{% extends 'page.html.twig' %}

{% set pagetitle = recipe.title %}
{% block title pagetitle %}

{% block pageheader %}
    {% include "global/pageheader.html.twig" %}
{% endblock %}

{% block content %}
    <section class="py-7">
        <div class="container">
        
        </div>
    </section>
{% endblock %}
