{% extends 'base.html.twig' %}

{% block body %}
    <div id="db-wrapper">
        {% include "global/_sidebar.html.twig" %}
        <main id="page-content">
            {% include "global/_page-header.html.twig" %}
            <section class="container-fluid p-4">
                {% block breadcrumb '' %}
                {% block content '' %}
            </section>
        </main>
    </div>
{% endblock %}
