{% extends 'base.html.twig' %}

{% block layout %}auth{% endblock %}

{% block body %}
    <section class="container d-flex flex-column vh-100">
        <div class="row align-items-center justify-content-center g-0 h-lg-100 py-8">
            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                <div class="card shadow">
                    <div class="card-body p-6">
                        {% block content '' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="position-absolute bottom-0 m-4">
        <div class="dropdown">
            {% include "global/_bs-theme-text.html.twig" %}
        </div>
    </div>
{% endblock %}