<a href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?') && document.getElementById('js-recipe-delete-form').submit();" class="dropdown-item">
    <i class="bi bi-trash dropdown-item-icon"></i>
    Supprimer
</a>

<form id="js-recipe-delete-form" action="{{ path('dashboard_admin_recipe_delete', {id: recipe.id}) }}" method="post" class="">
    <input type="hidden" name="_token" value="{{ csrf_token('recipe_deletion_' ~ recipe.id) }}">
    <input type="hidden" name="_method" value="DELETE">
</form> 
