<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="{{ id }}Title">{{ title }}</h5>
                {% if closeButton %}
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
			</div>
			<div class="modal-body">
				{% block body %}{% endblock %}
			</div>
			{% block footer %}{% endblock %}
		</div>
	</div>
</div>
