{% extends 'dashboard.html.twig' %}

{% set pagetitle = venue.name ~ " - " ~ ("Seating plans"|trans) %}
{% block title pagetitle %}

{% block breadcrumb %}
    {% set breadcrumb = [{ "dashboard_restaurant_venue_index": ('My venues'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="d-lg-flex justify-content-between align-items-center card-header border-bottom-0">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span>{{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows|length}) }}</span>
            </div>
            {% if is_granted('ROLE_VERIFIED') %}
                <div>
                    <a href="{{ path('dashboard_restaurant_venue_seating_plans_new', {venueSlug: venue.slug}) }}" class="btn btn-outline-primary btn-sm">
                        {{ 'Create'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
        {% if rows|length > 0 %}
            {% include "dashboard/shared/venue/seatingPlans/manage-seatingPlans-table.html.twig" with {rows: rows} %}
        {% else %}
            <div class="card-footer">
                {% include "global/message.html.twig" with { type: "dark", message: ('No seating plans found for this venue'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}
