{% extends 'admin.html.twig' %}

{% set pagetitle = 'Add a new recipe'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                {% set breadcrumb = [{ "dashboard_admin_recipe_index": 'Manage recipes'|trans, "current":(pagetitle) }] %}
                {% include "global/admin-breadcrumb.html.twig" with breadcrumb %}
                <div>
                    <a href="{{ path('dashboard_admin_recipe_index') }}" class="btn btn-outline-secondary me-2">
                        {{ 'Return to list'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
        {{ include('dashboard/admin/recipes/recipe/_form.html.twig') }}
    </div>
    <div class="col-xl-3 col-lg-4 col-md-12 col-12"></div>
{% endblock %}
