{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'My favorites'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span>{{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}</span>
            </div>
        </div>
        {% if rows.getTotalItemCount > 0 %}
            <div class="card-body">
                <div class="row gx-3">
                    <div class="col-lg-12 col-md-12 col-12 mb-2">
                        {% for recipe in rows %}
                            {% include "global/recipe-card.html.twig" with {recipe: recipe} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
            </div>
        {% else %}
            <div class="card-footer">
                {% include "global/message.html.twig" with { type: "dark", message: ('Add recipes to your favorites by clicking the heart button'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
            </div>
        {% endif %}
    </div>
{% endblock %}
