{% extends 'admin.html.twig' %}

{% set pagetitle = 'Manage pricings'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                {% set breadcrumb = [{ "current":(pagetitle) }] %}
                {% include "global/admin-breadcrumb.html.twig" with breadcrumb %}
                <div>
                    <a href="{{ path('dashboard_admin_pricing_new') }}" class="btn btn-primary me-2">{{ 'Create'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-1">
                        {{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows | length}) }}
                    </h4>
                    <p class="mb-0"></p>
                </div>
                {% if rows | length > 0 %}
                    {% include "dashboard/admin/pricing/manage-pricings-table.html.twig" with {rows: rows} %}
                {% else %}
                    <div class="card-footer">
                        {% include "global/message.html.twig" with { type: "dark", message: ('No pricings found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
