<div class="mb-3 position-relative">
	<input type="search" class="form-control" placeholder="Recherche...">
	<span class="position-absolute end-0 top-0 mt-2 me-3">
		<i class="bi bi-search {# fs-5 #}"></i>
	</span>
</div>
