{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Recipes list'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                {% if rows.getTotalItemCount > 0 %}
                    {% for recipe in rows %}
                        {% for recipeDate in recipe.recipedates if recipeDate.canBeScannedBy(app.user.scanner) %}
                            <div class="card-header border-bottom-0" id="{{ recipe.slug }}">
                                <div class="row h-100">
                                    <div class="col-12 col-md-9 ">
                                        {% include "global/recipe-preview-horizontal.html.twig" with { recipedate: recipeDate, hiderestaurant: true } %}
                                    </div>
                                    <div class="col-12 col-md-3 my-auto">
                                        <a href="{{ path('dashboard_scanner_recipe_date_creators_check_in', {reference: recipeDate.reference}) }}" class="btn btn-light btn-sm float-right">
                                            <i class="bi bi-check"></i> 
                                            {{ "Check In Creators for this recipe date"|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <div class="card-footer">
                        {% include "global/message.html.twig" with { type: "dark", message: ('No recipe found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
                    </div>
                {% endif %}
                <div class="card-footer">
                    {{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
