@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.icon-xxs {
  height: 1rem;
  line-height: 1rem;
  width: 1rem;
}

.icon-xs {
  height: 1.5rem;
  line-height: 1.5rem;
  width: 1.5rem;
}

.icon-sm {
  height: 2rem;
  line-height: 2rem;
  width: 2rem;
}

.icon-md {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
}

.icon-lg {
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
}

.icon-xl {
  height: 3.5rem;
  line-height: 3.5rem;
  width: 3.5rem;
}

.icon-xxl {
  height: 4rem;
  line-height: 4rem;
  width: 4rem;
}

.icon-shape {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  letter-spacing: -0.022rem;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  letter-spacing: -0.05rem;
}

.lead {
  letter-spacing: -0.03rem;
}

.text-inherit {
  color: var(--bs-gray-800);
}

a.text-body:hover,
a:hover .text-primary-hover {
  color: var(--bs-primary) !important;
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}

.disableClick {
  pointer-events: none;
}

.text-inverse {
  filter: brightness(0) invert(1);
}

.text-inverse-dark {
  filter: brightness(2) invert(1);
}

.cursor-pointer {
  cursor: pointer;
}

.chevron-arrow {
  display: inline-block;
  transition: 0.5s ease-in-out;
}

[aria-expanded=true] .chevron-arrow {
  transform: rotate(-180deg);
}

.collapse-toggle {
  display: inline-block;
  transition: 0.5s ease-in-out;
}

[aria-expanded=true] .collapse-toggle {
  transform: rotate(180deg);
}

.bg-cover {
  background: no-repeat 50%/cover;
}

.bg-grayscale {
  filter: grayscale(100%);
}

.bg-colors-gradient {
  background: linear-gradient(280.04deg, #baa9fb, #dbbeff 48.96%, #ffe0e0);
}

@media (max-width: 1200px) {
  .bg-auto {
    background-size: auto !important;
  }
}
.dot-pattern {
  position: relative;
}

.dot-pattern:after {
  background: url(../../../assets/images/dots-pattern.svg) no-repeat;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.img-overlay,
.img-overlay .img-color {
  position: relative;
  transition: 0.5s ease;
}

.img-overlay .img-color {
  background-color: var(--bs-primary);
  border-radius: 1rem;
}

.img-overlay .img-color img {
  border-radius: 0.75rem;
}

.img-overlay .img-color:hover img {
  mix-blend-mode: multiply;
  opacity: 0.4;
  transition: 0.2s ease;
}

.img-overlay .caption {
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.img-overlay:hover .caption {
  opacity: 1;
}

.hero-graphics {
  background-image: url(../images/hero/hero-graphics.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-dashed {
  border: 2px dashed var(--bs-gray-300) !important;
}

.list-timeline-activity {
  position: relative;
  z-index: 1;
}

.list-timeline-activity .list-group-item:not(:last-child):before {
  border-left: 1px solid var(--bs-border-color);
  content: "";
  height: 100%;
  left: 1.25rem;
  position: absolute;
  top: 1rem;
}

.process-line {
  position: relative;
  z-index: 1;
}

.process-line:before {
  border-bottom: 2px solid var(--bs-primary);
  content: "";
  left: 0;
  margin: 0 80px;
  position: absolute;
  right: 0;
  top: 1rem;
  width: 200px;
}

@media (max-width: 420px) {
  .process-line:before {
    display: none;
  }
}
@media (max-width: 990px) {
  .process-line:before {
    width: 120px;
  }
}
.small-divider {
  height: 0.125rem;
  width: 2.25rem;
}

.step-line {
  position: relative;
}

.step-line:after {
  background-color: var(--bs-gray-200);
  content: "";
  height: 2px;
  min-width: 13rem;
  position: absolute;
  top: 50%;
  z-index: -1;
}

@media (max-width: 1200px) {
  .step-line:after {
    min-width: 10rem;
  }
}
@media (max-width: 768px) {
  .step-line:after {
    min-width: 6.9rem;
  }
}
.active .step-line:after {
  background-color: var(--bs-primary);
}

.bg-light-gradient {
  background: rgba(221, 218, 255, 0.2);
  background: linear-gradient(180deg, rgba(221, 218, 255, 0.2), hsla(0, 0%, 100%, 0) 80%);
  background: -moz-linear-gradient(180deg, rgba(221, 218, 255, 0.2) 0, hsla(0, 0%, 100%, 0) 80%);
}

.bg-light-gradient-bottom {
  background: rgba(221, 218, 255, 0.3);
  background: linear-gradient(1turn, rgba(221, 218, 255, 0.3), hsla(0, 0%, 100%, 0) 80%);
  background: -moz-linear-gradient(1turn, rgba(221, 218, 255, 0.3) 0, hsla(0, 0%, 100%, 0) 80%);
}

.bg-light-gradient-top {
  background: rgba(221, 218, 255, 0.3);
  background: linear-gradient(180deg, rgba(221, 218, 255, 0.3), hsla(0, 0%, 100%, 0) 80%);
  background: -moz-linear-gradient(180deg, rgba(221, 218, 255, 0.3) 0, hsla(0, 0%, 100%, 0) 80%);
}

.bg-gradient-mix-shade {
  background: linear-gradient(270.06deg, #4a52ff 0.05%, #c678ff 54.16%, #fe5d75 99.95%);
}

@media (min-width: 768px) {
  .mw-md-130 {
    max-width: 130% !important;
  }
}
body {
  background-color: white;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  margin: 0;
  text-align: var(--bs-body-text-align);
}

.img-4by3-lg {
  width: 6.5rem;
}

.table-centered td,
.table-centered th {
  vertical-align: middle !important;
}

.table > :not(caption) > * > * {
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
  padding: 0.75rem 1.5rem;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: 0 solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-width: 0px;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: inherit;
}/*# sourceMappingURL=app.css.map */